<nav class="bg-gray-800">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <div class="py-2 text-lg" style="color: #34d3fb">Marine Cloud</div>
          <%= link_to root_path do %>
            <%= image_tag 'logo.svg', alt: 'Marine Cloud', class: 'block h-12 w-auto' %>
          <% end %>
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-sky-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%= render(MenuLinksComponent.new(classes_current: "border-sky-500 text-white font-light",
                                            classes_default: "border-transparent text-gray-300 hover:border-gray-300 hover:text-white hover:font-medium",
                                            classes_base: "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-light")) do |menu_links| %>
            <% menu_links.link label: 'Overview', url: overview_path %>
            <% menu_links.link label: 'Vessels', url: vessels_path %>
            <% menu_links.link label: 'Download', url: downloads_path %>
          <% end %>
        </div>
      </div>

      <div class="hidden sm:ml-6 sm:flex sm:items-center ">
        <%= link_to t('.sign_out'), destroy_user_session_path, class: "block px-4 py-3 text-sm text-gray-300", method: :delete, data: { turbo: false } %>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="pt-2 pb-3 space-y-1">
      <%= render(MenuLinksComponent.new(classes_current: "bg-sky-50 border-sky-500 text-sky-700",
                                        classes_default: "border-transparent text-white hover:bg-gray-50 hover:border-gray-300 hover:text-gray-100",
                                        classes_base: "block pl-3 pr-4 py-2 border-l-4 text-base font-medium")) do |menu_links| %>
        <% menu_links.link label: 'Overview', url: overview_path %>
        <% menu_links.link label: 'Vessels', url: vessels_path %>
        <% menu_links.link label: t(".sign_out"), url: destroy_user_session_path %>
      <% end %>
    </div>
  </div>
</nav>
