<a class="relative block w-full border-2 border-gray-300 rounded-lg p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="<%= @url %>">
  <div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">Filters</h3>
</div>
  <%= form_with builder: TailwindUIFormBuilder do |f| %>
    <div>

      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <%= f.label :select_period %>
        <%= f.select :month, [:January, :February] %>
        <%= f.select :year, [:'2022', :'2021'] %>
      </div>

      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <%= f.label :vessel_system %>
        <%= f.select :system, [:boiler, :feedwater, :engine_cooling] %>
      </div>

      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <%= f.label :parameters %>
        <%= f.select :parameter, [:p_alkalinity, :Phosphate, :Chloride] %>
      </div>
    </div>
  <% end %>
</a>
