<dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Company</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= @vessel.company_name %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Flag</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= @vessel.flag %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Created</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= @vessel.created_at_date %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Last upload</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= @vessel.last_data_upload_date %></dd>
  </div>
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">Tested by</dt>
    <dd class="mt-1 text-sm text-gray-900"><%= @vessel.last_tested_by %></dd>
  </div>
</dl>
