<div class="vessel-filters relative block w-full shadow bg-white rounded-lg p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500" data-controller="vessel-filters">
  <%= form_with method: :get do |f| %>
    <div>
      <div class="sm:grid sm:grid-cols-12 sm:gap-4 sm:items-start sm:pt-5" >
        <div class="col-span-7 text-left">
          <h3 class="leading-6 font-medium text-gray-900">Selected period</h3>
          <div class="grid grid-cols-2 gap-8 p-8 px-24 text-gray-500 border-gray-500">
            <%= f.date_field :start_date, {value: start_date, class: 'form-control', 'data-action': 'vessel-filters#submit'}  %>
            <%= f.date_field :end_date, {value: end_date, class: 'form-control', 'data-action': 'vessel-filters#submit'} %>
          </div>
        </div>

        <div class="col-span-5">
          <h3 class="leading-6 font-medium text-gray-900 text-left mb-2">System parameters</h3>
          <div class="grid grid-cols-3">
            <% available_parameters.each do |parameter| %>
              <div class="text-left text-gray-500 border-gray-500">
                <%= check_box_tag('parameter_ids[]', parameter.id, selected_parameters.include?(parameter), {'data-action': 'vessel-filters#submit'}) %>
                <%= parameter.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>

