<%= render partial: 'partials/upload_photometer_data_modal' %>
<%= render partial: 'partials/upload_manual_measurements_data_modal' %>

<section id="vessel-page">
  <div class="px-4 sm:px-6">
    <div class="sm:flex sm:items-center sm:justify-between border-b border-gray-300">
      <div class="sm:w-0 sm:flex-1">
        <div class="mb-6">
          <a href="<%= vessels_path %>" class="text-gray-500">
            <%= image_tag 'icons/back.svg', class: 'inline-block' %>
            <span class="text-sm">Back</span>
          </a>
        </div>
        <h1 class="message-heading text-lg font-medium text-gray-900 leading-7">
          <span class="rounded-full inline-block align-middle mb-1">
            <%= user_avatar(vessel.name, size: 28, colors: 45) %>
          </span>
          <%= @vessel.name %>
        </h1>
        <div class="pt-2 mb-4">
          <!-- TODO: Replace Xs with correct icons -->
          <span class="mr-2 text-sm text-gray-500">
            <%= image_tag 'icons/company.svg', class: 'inline-block' %>
            <%= @vessel.company_name %>
          </span>
          <span class="mr-2 text-sm text-gray-500">
            <%= image_tag 'icons/flag.svg', class: 'inline-block' %>
            <%= @vessel.flag %>
          </span>
          <span class="mr-2 text-sm text-gray-500">
            <%= image_tag 'icons/chemical.svg', class: 'inline-block' %>
            <%= @vessel.chemical_provider %>
          </span>
        </div>
      </div>

      <div class="mt-3 flex sm:mt-0 sm:ml-4">
        <button class="btn-primary mr-2 text-white bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-blue-700 hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-blue-700" type="button" data-modal-toggle="uploadPhotometerDataModal">
          Upload photometer data
        </button>
        <button class="btn-primary mr-2 text-white bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-blue-700 hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-blue-700" type="button" data-modal-toggle="uploadManualMeasurementsDataModal">
          Upload manual measurements data
        </button>
      </div>
    </div>
  </div>

  <div class="text-right mt-2">
    <span class="mr-2 text-sm text-gray-500">
      <%= image_tag 'icons/date-upload.svg', class: 'inline-block' %>
      Last upload <%= @vessel.last_data_upload_date %>
    </span>
    <% if @vessel_tested_by.present? %>
      <span class="mr-2 text-sm text-gray-500">
        <%= image_tag 'icons/manage_accounts.svg', class: 'inline-block' %>
        <%= @vessel_tested_by %>
      </span>
    <% end %>
  </div>


  <div class="vessel-charts mt-8 mx-auto">
    <div class="vessel space-y-6 lg:col-start-1 lg:col-span-2">
      <%= render partial: 'partials/vessel_filters', locals: {
        start_date: date_range.begin,
        end_date: date_range.end,
        vessel: resource,
        available_systems: available_systems,
        selected_system: selected_system,
        available_parameters: available_parameters,
        selected_parameters: selected_parameters
      } %>

      <div class="grid grid-cols-12">
        <div class="col-span-10 text-sm mb-6 font-medium text-center text-gray-500 border-b border-gray-200">
          <ul class="flex flex-wrap -mb-px">
            <li class="mr-2">
              <a href="?system_id=" class="inline-block p-4 rounded-t-lg border-b-2 border-blue-600 <%= (selected_system.nil?) ? "text-blue-600 active" : "border-b-transparent" %>" aria-current="page">All</a>
            </li>
            <% available_systems.each do |system| %>
              <li class="mr-2">
                <a href="?system_id=<%= system.id %>" class="inline-block p-4 rounded-t-lg border-b-2 border-blue-600 <%= (system.id == selected_system&.id) ? "text-blue-600 active" : "border-b-transparent" %>"><%= system.name %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-span-2 text-right">
          <a href="<%= url_for(export_url_params) %>" target="_blank" class="btn btn-secondary mr-2 bg-gray-100 text-gray-500 border-gray-500 hover:bg-gray-200 focus:bg-gray-300" type="button">
            <%= image_tag 'icons/export.svg', class: 'inline-block mr-2' %>
            Export data
          </a>
        </div>
      </div>

      <script> const recommendationRules = {} </script>
      <% charts_data_by_system.each do |system_name, charts_data| %>
        <%= render partial: 'partials/separator', locals: { system_name: system_name } if selected_system.nil? %>
        <% charts_data.each do |chart_data| %>
          <%= render partial: 'partials/line_chart', locals: { chart_data: chart_data } %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<%= render partial: 'partials/discussion_window', locals: { vessel: resource, comments: comments, assigned_date: assigned_date } %>