<%= render partial: 'partials/upload_photometer_data_modal' %>
<%= render partial: 'partials/upload_manual_measurements_data_modal' %>

<%= render HeaderComponent.new title: resource.name do %>
  <button class="btn-secondary mr-2" type="button" data-modal-toggle="uploadPhotometerDataModal">
    Upload photometer data
  </button>
  <button class="btn-secondary mr-2" type="button" data-modal-toggle="uploadManualMeasurementsDataModal">
    Upload manual measurements data
  </button>
<% end %>

<div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <%= render FiltersComponent.new %>

    <%= render partial: 'partials/separator' %>

    <% @trackable_metrics.each do |trackable_metric| %>
      <%= render partial: 'partials/line_chart', locals: { trackable_metric: trackable_metric } %>
    <% end %>
  </div>

  <section class="lg:col-start-3 lg:col-span-1">
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="px-3 bg-gray-100 text-lg font-medium text-gray-900"> Comments </span>
      </div>
    </div>
        <%= render CommentsComponent.new %>
  </section>
</div>
