<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>MarineCloud <%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render "application/favicon" %>
  </head>

  <body class="h-full <%= 'export-page' if @export_page %>">
    <div class="page-export-screen" data-controller="<%= 'export-page' if @export_page %>">
      <div class="page-export-info">
        <h1>Exporting</h1>
      </div>
    </div>
    <div class="export-content min-h-full">
      <%= render "layouts/elements/menu" %>

      <div class="pt-5 pb-10">
        <main class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <%= render "layouts/elements/notifications" %>

          <%= content_for?(:content) ? yield(:content) : yield %>
        </main>
      </div>
    </div>
  </body>
</html>
