<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
  <title>MarineCloud <%= @page_title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= render "application/favicon" %>
</head>

<body class="h-full export-page">
  <div class="page-export-screen" data-controller="export-page">
    <div class="page-export-info">
      <div class="export-panel bg-white rounded-lg shadow border-2 border-gray-300 pt-4 pb-6">
        <div class="grid grid-cols-12 gap-4 mb-8">
          <div class="col-span-2 text-right">
            <%= image_tag 'icons/exporting.svg', class: 'inline-block' %>
          </div>
          <div class="col-span-8">
            <h2 class="font-bold mt-1">Export in progress...</h2>
            <p class="mt-2">Please wait while the data report is exporting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="export-content min-h-full">
    <div class="pb-10">
      <main class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>
  </div>
</body>
</html>
